$primary-color : #9fb33f;
$secondary-color : #d4863c;
$third-color: #484b25;


.desktop-f {
    display: none;
}
.mobile-f{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 1.2em;
    i {
        color: #484b25;
        font-size: x-large;
        margin: .8em;
        z-index: 999;
        &:hover{
            cursor: pointer;
        }
    }   
    ul {
        position: absolute;
        text-align: center;
        height: 55vh;
        padding: 0;
        top: 0%;
        background-color: $secondary-color;
        width: 90%;
        max-width: 400px;
        min-width: 250px;
        border-radius: 0 30% 40% 30%;
        z-index: 999;
        li{
            list-style: none;
            width: 100%;
            font-size: large;
            margin: .5em;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    
    .hide {
        display: none;
        animation: hideNav 2s;
    }
    
    .show {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        animation: burgerToX 1s;
    }
    
    .active {
        &::before{
            content: "";
        }
    }
    
    .fa-xmark {
        animation: moveXmark 3s;
        color: white;
        font-size: xx-large;
        z-index: 9999;
    }
    @keyframes moveXmark {
        0% {
            color: rgba(255, 255, 255, 0);
        }
        100%{
            color: white !important;
        }
    }
    
    @keyframes burgerToX {
        0%{
            top: -20%;
            left: -20%
        }
        100% {
            top: 0%;
            left: 0;
        }
    }
    
    @keyframes xToBurger {
        0%{
            top: 0;
            left: 0;
        }
        100% {
            top: -20%;
            left: -20%
        }
    }
    
    @keyframes hideNav {
        0%{
            
        }
        100%{
            
        }
    }
}


    


// UP TO 750 PX 

  @media (width > 750px) {
     body {
         margin: 1em;
     }
     .mobile-f {
         display: none;
     }
     .desktop-f {
         display: flex;
         justify-content: space-between;
         align-content: center;
         align-items: center;
         width: 100%;
         ul {
             display: inline;
             background-color: inherit;
             margin: 0;
             padding: 0;
             li {
                 display: inline;
                 margin: .5em;
                 a {
                     color: $third-color;
                     text-decoration: none;
                 }
             }   
         }      
      }  
  }