@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Lato', sans-serif;
}

:root {
    font-size: 18px;
}

.fs22 {
    font-size: 22px;
}

.text_titlegreen {
    color: #484B25;
}

.text_darkgreen {
    color: #596A40;
}

.bg_lightgreen {
    background-color: #93A25A;
}

.bg_orange {
    background-color: #D4863C;
}

/* ---------------------------------------- Header ---------------------------------------- */

/* ------------ SW ------------ */
.navbar-nav .nav-item .nav-link:hover {
    color: #D4863C;
}

.form-control:hover {
    box-shadow: 0px 0px 10px -2px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* ---------------------------------------- Pages ---------------------------------------- */

/* ------------ Personal profil & FAQ SW  ------------ */

.no-hover .form-control:hover {
    box-shadow: none;
}

.prevent-hover.btn:hover,
.prevent-hover.btn:focus,
.prevent-hover.btn:active {
    color: #fff;
    background-color: #93A25A;
}

.no-hover:hover {
    background-color: #93A25A;
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-18 {
    border-radius: 18px;
}

.img-articles {
    width: 430px;
    max-width: 100%;
    height: auto;
}

/* ------------ About us Hafida  ------------ */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.groupeImage {
    border-radius: 24px;
    width: 100%;
}

.text-justify {
    text-align: justify;
}

/* ------------ ProductS page Anthony   ------------ */

.category-bg {
    background-color: #93A25A;
    font-family: "Montserrat";
}

.hero {
    color: #596A40;
}

#category {
    font-family: "Montserrat";
    background-color: #484b25;
    color: #FFFFFF;
}

main div {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.card-body {
    transition: 0.3s;
    background-color: rgba(233, 233, 233, 0.685);
}

.card-body:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

/* ------------ Product page Anthony   ------------ */


.bgH1 {
    background-repeat: no-repeat;
    background-size: cover;
}

main div h1 {
    font-family: "Lato", sans-serif;
}

.product-bg {
    background-color: #93A25A;

}

.itemDescription {
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
}

.itemPhotoMobile {
    width: 70%;
    height: 70%;
}

.pp {
    border-radius: 100%;
}

.button-contact {
    background-color: #93A25A;
    font-family: "Lato", sans-serif;
    height: 2.5em;
    width: 12em;
    border: solid #93A25A;
}

.button-contact:hover {
    background-color: #FFFFFF;
    color: #93A25A;
    border: solid #93A25A;
}

main div h2 {
    color: #596A40;
    font-family: "Montserrat";
    font-size: 1.8rem;
}

.profilWindow {
    border-radius: 30px;
}

.profilPicture {
    width: 75%;
}

.itemPhoto {
    width: 100%;
}

.profilRate {
    width: 100%;
}

/* ------------ Home Page Fred   ------------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

* {
    font-family: "Lato", sans-serif;
}

:root {
    font-size: 18px;
}

.text_titlegreen {
    color: #484B25;
}

.text_darkgreen {
    color: #596A40;
}

.text_orange {
    color: #D4863C;
}

.bg_lightgreen {
    background-color: #93A25A;
}

.bg_silver {
    background-color: rgb(224, 224, 224);
}

.bg_orange {
    background-color: #D4863C;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #D4863C;
}

.form-control:hover {
    box-shadow: 0px 0px 10px -2px;
}

hr {
    margin-top: 3em !important;
    opacity: 0;
}

.no-hover .form-control:hover {
    box-shadow: none;
}

.rounded-24 {
    border-radius: 24px;
}

.border-rounded {
    border-radius: 50%;
}

nav img {
    width: 120px !important;
    height: 120px !important;
}

nav ul {
    animation: bubbleEffectOnBurgerClick 2s forwards;
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    width: 65%;
}

nav ul li {
    list-style: none;
    margin-top: 0.4em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.active_nav {
    border-bottom: 3px solid #D4863C;
    padding-bottom: 0.5em;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal-dialog {
    top: 35%;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}

@keyframes bubbleEffectOnBurgerClick {
    from {
        padding: 0;
        width: 60%;
        background-color: white;
        top: -12%;
        left: -40%;
    }

    to {
        padding: 9em 5em 5em 7em;
        top: -9%;
        left: -30%;
        width: 135%;
        background-color: #D4863C;
        text-align: center;
    }
}

.fa-xmark {
    color: white;
    font-size: xx-large;
    z-index: 9999;
    overflow: hidden;
    position: absolute;
    left: 1em;
}

@keyframes animeTemoignageTitle {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.container-temoignage h2 {
    animation: animeTemoignageTitle linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 40%;
}

@keyframes animeEventsTitle {
    0% {
        transform: translateY(-20em);
        opacity: 0;
    }

    83% {
        opacity: 0;
    }

    84% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.container-events h2 {
    animation: animeEventsTitle linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 50%;
}

.container-events img {
    width: 100% !important;
}

.container-events .carousel {
    width: 85% !important;
}

.temoignage-card {
    min-width: 250px;
}

.temoignage-card p {
    width: 60%;
}

.temoignage-card img {
    border-radius: 50%;
    border: 5px solid #D4863C;
    max-width: 200px;
}

i {
    cursor: pointer;
    overflow: hidden;
    padding: 0.5em;
}

.img-profil {
    max-width: 150px;
    z-index: -6;
}

.banner-profil {
    z-index: -6666;
    top: 10%;
    height: 100px;
}

/* Footer */
footer {
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    bottom: 0;
}

.p-6 {
    padding: 6rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

footer p {
    margin: 0;
}

.footer-bg {
    background-color: #D4863C;
}

@media (width > 768px) {
    nav ul {
        animation: none;
        margin: 0;
    }

    a {
        color: #484B25;
        text-decoration: none;
    }

    header nav img {
        width: 140px;
        height: 140px;
    }

    header nav div div {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 600px;
    }

    header nav div div input {
        padding-left: 2em;
    }

    header nav div div i {
        position: absolute;
        font-size: large;
        color: #596A40;
        border-radius: 5px;
        padding-left: 0.5em;
        cursor: pointer;
    }

    .hero-container img {
        min-width: 60%;
    }

    .hero-container p {
        margin-left: 1.75em;
    }

    .img-profil {
        max-width: 350px;
        min-width: 200px;
    }

    .container-profil .fa-star {
        color: #d4863c;
    }

    .container-events img {
        max-width: 270px;
    }
}

/*# sourceMappingURL=style.css.map */